.navbar {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: #e9a3d0;
    font-family: inherit;
    color: #73284d;
}
ul{
    display: flex;
    gap: 1rem;
}
ul li {
    list-style-type: none;

}

ul li a { 
    
    font-family: inherit;
    color: #73284d;
    text-decoration: none;

}