.product-card {
    display: flex;  
    flex-direction: column;
    gap: 40px;
    margin: 12px;
    text-align: center;
}

.product-card img {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    object-fit: cover;
}