.home {
    display: flex;
    flex-direction: column;
    height: 40rem;
    background-color: rgb(221, 255, 255);
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.home h1 {

    font-family: inherit;
    font-size: 5rem;
    color: darkcyan;

}

.home img {
    width: 20rem;
    height: 20rem;

}